<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style></style>
</head>

<body>
    <div id="stats"></div>
    <div id="root"></div>
</body>

</html>
